body {
  
background {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  background-color: #B8E2F2;
}


.outer {
   border: dashed 1px grey;
   width:200px;
}
  
.centered{
    background-color:skyblue;
    color:white;
    text-align:center;
}

h1 {
  color: blue;
  margin-left: 20px;
}
}
