body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  background-color: #B8E2F2;
}

div {
    background: #ddd;
    border: 5px solid gray;
    width: 250px;
    height: 50px;
}
